/* body, html {
  height: 100%;
} */

body{
  /* margin-top: 10vh; */
  background-image: url(logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* background-size: cover; */
  height: 100%;

}

.route-body{
 background-color: rgb(33, 46, 84);
 position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
.home{
  position: relative;
  bottom: -300px;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.homebtn {
  margin-top: -30px;
}

h2 {
  margin-bottom:9px;
}

.wait-Form{
  size:0em;
}

.pictures{
  margin: 8px;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

