:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(33, 46, 84);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  font-family:Georgia;
}

.home-link{
  font-weight: 500;
  font-size: 35px;
  background-color: #2a5391;
  border-radius: 26px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1.5em;
  color: #f5e067;
  text-decoration: inherit;
  font-family:Georgia;
  
}
/* 'Lucida Sans Unicode' */

.btn-delete{
  font-size: 13px;
}


a:hover {
  color: #fee44c;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family:Georgia;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family:Georgia;
}

button {
  border-radius: 26px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  margin: 1px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2a5391;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fee44c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fee44c;
  }
  button {
    background-color: #f9f9f9;
  }
}
